.col-md-4>h1 {
  text-align: center;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.liNoIndent {
	list-style: none;
	padding-left: 0;
}

.heroImage {
	margin-top: -20px;
}