<li class="list-group-item row {{#if completed}}disabled{{/if}}"> <!-- disabled row -->
  <div class="col-md-1"> 
    {{#if completed}}
      <input type="checkbox" checked>
    {{else}}
      <input type="checkbox">
    {{/if}}
  </div>
  <div class="col-md-10 title">{{title}}</div>
  <div class="col-md-10" data-id='{{id}}'>{{title}}</div>
  <div class="col-md-1">
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</li>