.todo-container {
  width: 500px;
  margin: 5px auto;
  margin-top: 20px;
}

.add-todo-container {
  margin-bottom: 10px;
}

.add-todo-container .col-md-10 {
  padding-left: 0;
}

.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}

.todo-container h1 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 25px;
}

.col-md-4 > h1 {
  text-align: center;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.liNoIndent {
  list-style: none;
  padding-left: 0;
}

.heroImage {
  margin-top: -20px;
}

hr.style18 {
  height: 30px;
  width: 85%;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.style15 {
  border-top: 4px double #8c8b8b;
  text-align: center;
  margin-top: 50px;
  width: 30%;
}

hr.style15:after {
  content: '\F040';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
}

.tagline {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.callToAction {
  text-align: center;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.mainPhoneNumber {
  text-align: center;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 30px;
}

.testimonialText {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding-top: 50px;
  margin-bottom: -40px;
}

.hruleHome {
  border: 0;
  border-top: 4px double #8c8c8c;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -40px;
  width: 30%;
}

.hruleHome:after {
  content: '\2665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: #8c8c8c;
  font-size: 18px;
}

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/
#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}

#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}

#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}

h1 {
  color: blue;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.jumbotron {
  background-color: white;
}

.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #63a1f2;
  text-align: center;
  line-height: 100px;
  font-family: arial;
  font-size: 42px;
  transform: none;
  transition: transform .5s;
}

.square-container {
  perspective: 50px;
  display: inline-block;
}

.square1:hover {
  transform: skewX(45deg);
  transition: transform .5s;
}

.square2:hover {
  transform: rotate(45deg);
  transition: transform .5s;
}

.square3:hover {
  transform: scale(0.8, 0.5);
  transition: transform .5s;
}

.square4:hover {
  transform: rotateY(745deg) rotateX(75deg);
  transition: transform .5s;
}

.square5:hover {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  transition: transform .5s;
}

.square6:hover {
  transform: translate3d(20px, 50px, 100px);
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.navPosition {
  position: fixed;
}

ul.nav > li {
  display: inline-block;
}

#social-icon a {
  color: #333333;
}

#phone-number {
  margin-top: 15px;
  padding-bottom: 15px;
}

.full {
  width: 100%;
}

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

.footer {
  background: #FFFFFF;
  height: 60px;
  padding-bottom: 30px;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}

.footer p {
  margin: 0;
}

.footer img {
  max-width: 100%;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}

.footer a {
  color: #78828D;
}

.pull-left > .copyright {
  margin-top: 510x;
}

.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}

.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}

.newsletter-box {
  overflow: hidden;
}

/*
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
*/
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
  color: #EDEFF1;
}

.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}

.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

.copyright {
  padding-top: 3px;
}

.stevePic, .pic {
  margin-top: 70px;
  width: 200px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet and bigger */
@media (min-width: 768px) {
  .aboutVerticalDivide {
    border-left: 2px solid;
  }
}

/*# sourceMappingURL=main.css.map*/