<!doctype html>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
</head>
<body>
<header></header>
<main>
<!-- Begin Hero Image -->
  <div class="container">
    <div class="row heroImage">
      <div class="col-lg-12">
        <img class="img-responsive heroImage" src="http://www.losobemarketing.com/images/header_1200x500.png">
      </div>
    </div>
  </div>
<!-- End Hero Image -->

<hr class="style18">

<!-- Begin Home Page Content -->
  <div class="grid grid-3">
    <div class="container">
      <div class="col-md-4">
        <h1>Look Good</h1>
        <h5>Are you happy with the visual appearance of your business?</h5>
        <p>Your website, brochures, business cards, ads - they all tell a story - a story about you and your business. Do they truly represent your desired image and values? Do your customers "get" your offer and value, or are they scratching their heads wondering what you're all about?</p>

        <p>Find out how to make your visual identity stronger, with:</p>

        <ul class="liNoIndent">
        <li>Graphic Design</li>
        <li>Web Design</li>
        <li>Mobile</li>
        <li>Business Cards</li>
        <li>Brochures</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h1>Sound Good</h1>
        <h5>Is your offer clear and getting results?</h5>
        <p>In the noisy environment of traditional and social media, your messages are competing for the attention of your overwhelmed customers and clients. Is your current messaging standing out from the crowd and resonating with your targets - compelling them to respond to your calls to action?</p>

        <p>Clarify your message and get results, with:</p>
        <ul class="liNoIndent">
        <li>Advertising</li>
        <li>Marketing</li>
        <li>Social Media</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h1>Be Good</h1>
        <h5>What are people thinking, and saying, about you?</h5>
        <p>You want your business to have a positive impact on the world. But doing good, in and of itself, doesn’t guarantee you’ll get more feet in the door. These days, most people research products and services before making a purchase decision. What will they learn about you online? Interested in improving your reputation and getting more customers?</p>

        <p>Get a reputation assessment of your business. Contact us now.</p>
      </div>
    </div>
  </div>
<!-- End Home Page Content -->

<hr class="style18">

</main>
<footer></footer>
</body>
</html>