<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
</head>
<body>
<header></header>
<main>
<!-- Begin Hero Image -->
  <div class="container">
    <div class="row heroImage">
      <div class="col-lg-12">
        <img class="img-responsive heroImage" src="/images/header_1200x500.png">
      </div>
    </div>
  </div>
<!-- End Hero Image -->

<hr class="style18">

<!-- Begin Home Page Content -->
  <div class="grid grid-3">
    <div class="container">
      <div class="col-md-12">
        <p class="tagline">You're doing good in the world.<br />Does anyone know it?</p>
      </div>
      <div class="col-md-4">
        <h1>Design</h1>
        <h5>Are you happy with the visual appearance of your business?</h5>
        <p>A coder who understands design. One who understands composition, design, color, and how to put them all together.</p>

        <p>Make your visual identity stronger, with:</p>

        <ul class="liNoIndent">
        <li>Graphic Design</li>
        <li>Web Design</li>
        <li>Mobile</li>
        <li>Business Cards</li>
        <li>Brochures</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h1>Development</h1>
        <h5>What's under the hood</h5>
        <p>A designer who understands code. Because pretty picutres are only half the story. An interactive website engages visitors and helps keeps them on your site. Which helps your bottom line.</p>

        <p>Complementing design with:</p>

        <ul class="liNoIndent">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>React</li>
        <li>Backbone</li>
        <li>Angular / Angular 2</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h1>Marketing</h1>
        <h5>A Business Person who understands how it all fits together</h5>
        <p>An attractive, interactive website doesn’t guarantee you’ll get more feet in the door. You need your business to be seen. Also, most people research products and services before making a purchase decision. What will they learn about you online? What's your online reputation?</p>
        
        <p>Promote your business with:</p>

        <ul class="liNoIndent">
        <li>SEO</li>
        <li>PPC</li>
        <li>Google Analytics</li>
        <li>Reputation Management</li>
        <li>Social Media</li>
        </ul>

      </div>
    </div>
  </div>
<hr class="style18">
<p class="callToAction">Let's Start the Conversation</p>
<p class="mainPhoneNumber">303.834.7196</p>
<hr class="hruleHome">
<p class="testimonialText">Testimonials</p>
<hr class="hruleHome">

<!-- Testimonial Carousel -->
<section id="carousel">           
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
          <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
            <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item">
                <blockquote>
                  <p>We know Steve to be a very professional designer and sensitive person who understands the unique needs of socially conscious business owners and their customers.  His strength is in working collaboratively with clients to develop authentic visual messaging which attracts customers in a creative and engaging way.</p>
 
                  <p>Steve has worked on a variety of projects with us - including our third website (www.imskrappy.com) and several websites for our clients.  He has been willing to go the extra mile to get the job done in a timely way, on spec and budget. Most importantly, he is a values-driven, community-minded human being.  He has earned our trust.</p>

                  <p>Don Greenfield &amp; Alyson Miller - Owners of Venture Growth and Pivot Guild</p>
                </blockquote> 
            </div>
            <div class="item">
              <blockquote>
                <p>Steve was recommended to me when we were looking for someone to put together a website for our communitywide  reading program.  He was great to work with – very professional,  helped us determine what we needed, was responsive to questions and requests for changes, and delivered a great looking finished product right on time.  When we need this kind of work in the future, we will think of Steve!</p>
                <p>Betsy Stroomer - Lafayette Public Library</p>
              </blockquote>
            </div>
            <div class="active item">
              <blockquote>
                <p>Steve is one of the best resources for any small business person to maximize their web presence and communicate their messages. I highly recommend him to other conscious business people.</p>

                <p>Larry Byram - AlignmentTechnologies.us</p>
              </blockquote>
            </div>
            </div>
          </div>
        </div>
      </div>              
    </div>
  </div>
</section>
</main>
<footer></footer>
</body>
</html>