<!doctype html>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
</head>
<body>
<header></header>
<main>
<!-- Begin Hero Image -->
  <div class="container">
    <div class="row heroImage">
      <div class="col-lg-12">
        <img class="img-responsive" src="http://www.losobemarketing.com/images/header_1200x400.png">
      </div>
    </div>
  </div>
<!-- End Hero Image -->
<!-- Begin Home Page Content -->
  <div class="grid grid-3">
    <div class="container">
      <div class="col-md-4">
        <h1>Look good</h1>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
      </div>
      
      <div class="col-md-4">
        <h1>Sound Good</h1>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
      </div>
      
      <div class="col-md-4">
        <h1>Be Good</h1>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
      </div>
    </div>
  </div>
<!-- End Home Page Content -->
</main>
<footer></footer>
</body>
</html>