<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
</head>
<body>
<header></header>
<main>
<!-- Begin Hero Image -->
  <div class="container">
    <div class="row heroImage">
      <div class="col-lg-12">
        <img class="img-responsive heroImage" src="/images/header_1200x500.png">
      </div>
    </div>
  </div>
<!-- End Hero Image -->

<hr class="style18">

<!-- Begin Home Page Content -->
  <div class="grid grid-3">
    <div class="container">
      <div class="col-md-12">
        <p class="tagline">I'm a Front-End Developer</p>
      </div>
      <div class="col-md-8"><h1>About Us</h1>
      <p>Hi – I’m Steve Hudek, an accomplished web developer and designer with over 13 years of experience working with clients ranging from Fortune 500 companies to solopreneurs. Former clients include IBM, Ricoh InfoPrint Solutions, Alignment Technologies, Pivot Guild Entrepreneurial Community, Cosmopolitan Bread Café, Highlands Ranch Community, Anheuser-Busch, 3M, Fossil Trace Golf Club.</p>

      <p>In my work as a web developer, the skills I bring to the table include:</p>
      
      <div class="col-md-4">
        <h1>Development</h1>
        <ul class="liNoIndent">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>React</li>
        <li>Backbone</li>
        <li>Angular2</li>
        <li>VueJS</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h1>Design</h1>

        <ul class="liNoIndent">
        <li>Adobe Photoshop</li>
        <li>Adobe Illustrator</li>
        <li>Adobe InDesign</li>
        <li>Adobe Dreamweaver</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h1>Tools</h1>

        <ul class="liNoIndent">
        <li>Sublime Text</li>
        <li>Git/GitHub</li>
        <li>Webpack</li>
        <li>NPM</li>
        </ul>

      </div>
    </div>
    </div>
  </div>
<hr class="style18">
<p class="callToAction">Let's Start the Conversation</p>
<p class="mainPhoneNumber">303.834.7196</p>
<hr class="hruleHome">
<p class="testimonialText">Testimonials</p>
<hr class="hruleHome">

<!-- Testimonial Carousel -->
<section id="carousel">           
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
          <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
            <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item">
                <blockquote>
                  <p>We know Steve to be a very professional designer and sensitive person who understands the unique needs of socially conscious business owners and their customers.  His strength is in working collaboratively with clients to develop authentic visual messaging which attracts customers in a creative and engaging way.</p>
 
                  <p>Steve has worked on a variety of projects with us - including our third website (www.imskrappy.com) and several websites for our clients.  He has been willing to go the extra mile to get the job done in a timely way, on spec and budget. Most importantly, he is a values-driven, community-minded human being.  He has earned our trust.</p>

                  <p>Don Greenfield &amp; Alyson Miller - Owners of Venture Growth and Pivot Guild</p>
                </blockquote> 
            </div>
            <div class="item">
              <blockquote>
                <p>Steve was recommended to me when we were looking for someone to put together a website for our communitywide  reading program.  He was great to work with – very professional,  helped us determine what we needed, was responsive to questions and requests for changes, and delivered a great looking finished product right on time.  When we need this kind of work in the future, we will think of Steve!</p>
                <p>Betsy Stroomer - Lafayette Public Library</p>
              </blockquote>
            </div>
            <div class="active item">
              <blockquote>
                <p>Steve is one of the best resources for any small business person to maximize their web presence and communicate their messages. I highly recommend him to other conscious business people.</p>

                <p>Larry Byram - AlignmentTechnologies.us</p>
              </blockquote>
            </div>
            </div>
          </div>
        </div>
      </div>              
    </div>
  </div>
</section>
</main>
<footer></footer>
</body>
</html>