<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>

  </head>
  <body>
    
  <header></header>
  <main>
    <!-- Begin Header 1
      <div class="container">
        <div class="col-md-12">
          <div class="header-text">
            <p id="left-bracket">{</p>
              <h1 class="text-center inner-text">Steve Hudek</h1>
                <p class="text-center">Design + Development</p>
                  <div class="text-container">
                    <p>Creating meaningful connections between you and your customers with forward-thinking marketing and great design.</p>
                  </div>
                <p id="right-bracket">}</p>
          </div>
        </div>
      </div>
    End Header 1-->

    <!-- Begin Header 2 -->
      <div class="container">
        <div class="row heroImage">

          <div class="col-lg-12">
            <img class="img-responsive" src="http://www.losobemarketing.com/images/header_1200x400.png">
          </div>

<!-- 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="image-responsive heroImage" src="/images/photo-1458668383970-8ddd3927deed.jpeg">
          </div>
-->
        </div>
      </div>
    <!-- End Header 2 -->

  </main>
  <footer></footer>

  </body>
</html>